---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* =========================
   Wider page content (def: 800)
   ========================= */

.wrapper {
  max-width: 900px;
}

/* =========================
   Homepage
   ========================= */

.biodiversity-heading {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 35px !important;
}

.banner-themes,
.banner-themes span {
  font-family: "IBM Plex Mono", monospace !important;
  font-size: 14px !important;
  font-weight: 400;
  color: dimgrey;
}

.home-intro {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 40px;
}

.home-text {
  flex: 1;
}

.home-image {
  flex: 0 0 50%;
    margin-top: 30px;
}

.home-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {
  .home-intro {
    flex-direction: column;
  }

  .home-image {
    width: 100%;
  }
}

/* =========================
   Research page
   ========================= */

/* Spacing and fonts in and between research questions */

.research-questions {
  margin-bottom: 20px;
}
.research-questions p {
  margin-bottom: 2px !important;
  color: DimGrey;
  font-family: "IBM Plex Mono", monospace;
    font-size: 14px !important;
}

/* Research header fonts */

.research-heading {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 25px !important;
}

/* Sections */

.research-section2 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.research-columns3 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.research-text2,
.research-text3 {
  flex: 1;
}

.research-image2,
.research-image3 {
  flex: 0 0 50%;
  margin-top: 45px;
}

.research-image3 {
  margin-top: -30px;
}

.research-image2 img,
.research-image3 img {
  width: 100%;
  height: auto;
  display: block;
}

/* Research caption fonts */

.research-caption1 {
  font-family: "IBM Plex Mono", monospace;
  text-align: right;
  font-size: 9pt;
  color: DimGrey;
}
.research-caption2 {
  font-family: "IBM Plex Mono", monospace;
  text-align: right;
  font-size: 9pt;
  color: DimGrey;
  margin-top: 20px;
}
.research-caption3 {
  font-family: "IBM Plex Mono", monospace;
  text-align: right;
  font-size: 9pt;
  color: DimGrey;
  margin-top: 5px;
}

/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {

  .research-section2,
  .research-columns3 {
    flex-direction: column;
  }

  .research-image2,
  .research-image3 {
    width: 100%;
    margin-top: 20px;
  }

}

/* =========================
   Approaches page
   ========================= */

.approach-section1 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 25px;
  margin-bottom: 45px;
}

.approach-text1 {
  flex: 1;
}

.approach-image1 {
  flex: 0 0 30%;
  margin-top: -40px;
}

.approach-image1 img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {

  .approach-section1 {
    flex-direction: column;
  }

  .approach-image1 {
    width: 100%;
    margin-top: 20px;
  }

}

/* =========================
   People page
   ========================= */

.people-intro {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 0px;
}

.people-text {
  flex: 1;
}

.people-image {
  flex: 0 0 35%;
  margin-top: -50px;
}

.people-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {
  .people-intro {
    flex-direction: column;
  }

  .people-image {
    width: 100%;
  }
}

/* =========================
   Opportunities page
   ========================= */

.opportunities-intro {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.opportunities-text {
  flex: 1;
}

.opportunities-image {
  flex: 0 0 30%;
  margin-top: -50px;
  margin-bottom: 0px;
}

.opportunities-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {
  .opportunities-intro {
    flex-direction: column;
  }

  .opportunities-image {
    width: 100%;
  }
}
