---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* =========================
   Opportunities page
   ========================= */

.opportunities-intro {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.opportunities-text {
  flex: 1;
}

.opportunities-image {
  flex: 0 0 30%;
  margin-top: -50px;
  margin-bottom: 0px;
}

.opportunities-image img {
  width: 100%;
  height: auto;
  display: block;
}


/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {
  .opportunities-intro {
    flex-direction: column;
  }

  .opportunities-image {
    width: 100%;
  }
}


/* =========================
   People page
   ========================= */

.people-intro {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 0px;
}

.people-text {
  flex: 1;
}

.people-image {
  flex: 0 0 35%;
  margin-top: -50px;
}

.people-image img {
  width: 100%;
  height: auto;
  display: block;
}


/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {
  .people-intro {
    flex-direction: column;
  }

  .people-image {
    width: 100%;
  }
}

/* =========================
   Homepage
   ========================= */

.home-intro {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 40px;
}

.home-text {
  flex: 1;
}

.home-image {
  flex: 0 0 50%;
    margin-top: 40px;
}

.home-image img {
  width: 100%;
  height: auto;
  display: block;
}


/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {
  .home-intro {
    flex-direction: column;
  }

  .home-image {
    width: 100%;
  }
}

/* =========================
   Research page
   ========================= */

.research-section2,
.research-columns3 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 35px;
  margin-bottom: 40px;
}

.research-text2,
.research-text3 {
  flex: 1;
}

.research-image2,
.research-image3 {
  flex: 0 0 50%;
  margin-top: 45px;
}

.research-image3 {
  margin-top: -70px;
}

.research-image2 img,
.research-image3 img {
  width: 100%;
  height: auto;
  display: block;
}

.research-caption2,
.research-caption3 {
  text-align: right;
  font-size: 10pt;
  color: DimGrey;
  margin-top: 5px;
}


/* Spacing between research questions */

.research-questions p {
  margin-bottom: 5px !important;
}


/* Stack the columns on smaller screens */

@media screen and (max-width: 700px) {

  .research-section2,
  .research-columns3 {
    flex-direction: column;
  }

  .research-image2,
  .research-image3 {
    width: 100%;
    margin-top: 20px;
  }

}

/* =========================
   Wider page content (def: 800)
   ========================= */

.wrapper {
  max-width: 900px;
}