// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* =========================
   Fade
   ========================= */

 .page-content {
    animation: fadeIn 0.6s ease-in;
  }
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* =========================
   Icon colours
   ========================= */

.icon-blue {
  color: #5b7c99;
}

.icon-green {
  color: #6b8f71;
}